body{
    
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    font-weight: 400;
    background-image: url(../images/Photos/Group\ 33064.png);
    background-repeat: no-repeat;
    background-position: 35% 0%;
}
h1,h2{
    text-transform: uppercase;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 5rem;
    font-weight: 500;
}
h2{
    margin-bottom: 1rem;
    font-size: 3rem;
}
h3{
    color: #363958;
}
h5{
    color: #363958;
    font-weight: 500;
}
input{
    margin-bottom: 20px;
}

.card h2{
    color: #76C27E;
}
nav img{
    width: 250px;
}

.logo-image{
    width: 80px;
}

.moon{
    color:#76C27E;
}
.img-container{
    background-color: #F1F1F1;
    
}
.img-container img{
    
    padding-top: 10px;
}
.card img{
    margin: 0 auto;
}

.img-card{
    margin: 0 auto;
}
.contact-sec{
    height: 250px; 
    background-color: #dddddd;
    border-radius: 20px;
}
.navbar a{
    color: #000000;
}
.btn-penguin{
    background-color: #2b2259;
    padding: 10px 20px;
    
}
.btn-penguin:hover{
    background-color: #1e1741;
    padding: 10px 20px;
    
}

#about .card img{
    width: 80px;
}
.resp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (max-width: 780px){
    .resp{
        display: flex;
        flex-direction: column;
        
    }
    .text-cen{
        text-align: center;
    }
}